/* styles.css */

/* Corps de la page */
#main-title {
    font-size: 2.5em;           /* Taille de police */
    color: purple;             /* Couleur du texte */
    text-align: center;         /* Centrer le texte */
    margin-bottom: 20px;       /* Espacement en bas */
    text-transform: uppercase;   /* Mettre le texte en majuscules */
    font-weight: bold;          /* Mettre le texte en gras */
}

h1 {
  color : #7A1CAC;
  font-weight: bold;
}

#h2 {
  color: #7A1CAC; 
}
